<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Cesta de la compra</h2>
    <div class="producte">
        <img class="item__img img__cesta" src="airForce.webp" height="184" width="184" alt="">
        <div>
            <h4>Nike</h4>
            <p>Air Force</p>
            <p>Quantitat: 2</p>
            <p>Preu/u: 120€</p>
        </div>
    </div>

    <p id="checkout-total">Total del Carrito: 120€</p>
    
    <div>
        <h2 id="qr-title">QR</h2>
        <img class="item__img" src="qr-code.webp" height="184" width="184" alt="">
    </div>
</body>
</html>