<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>


    <div id="app">

        <div v-if="divActivo == 'portada'">
            <h1>NAIKI</h1>
            <button @click="cambiar('tienda')">Iniciar</button>
        </div>



        <div v-if="divActivo == 'tienda'">
                <header>
                    <h1>NAIKI</h1>
                    <div @click="cesta()" class="shopping">
                        <img src="imagen/carrito.png">
                        <span class="cuantitat">{{this.nItems}}</span>
                    </div>
                </header>

                <div class="cesta">
                    <h1>Carrito</h1>                        
                    <button class="closeShopping">X</button>

                    <li v-for="(actual, index) in carrito">
                        <h2>{{ actual.model }}</h2>
                        <p>{{actual.color}}</p>
                        <p>quantitat: {{actual.quantitat}}</p>
                        <p>Preu/u: {{actual.preu}}€</p>
        
                        <button @click="eliminar(actual)">-</button>
                    </li>
                    <div class="checkOut">
                        
                        <div class="total">{{this.total}} € </div>
                        <button id="btnCheckout" @click="cambiar('checkout')">Checkout</button>


                    </div>
                
            </div>
            <ul id="lista">
                <li v-for="(actual, index) in sabates">
                    <img :src="actual.img" alt="">
                    <h2>{{ actual.model }}</h2>
                    <p>{{actual.color}}</p>
                    <p>Preu/u: {{actual.preu}}€</p>

                    <button @click="afegir(actual)">+</button>
                </li>
            </ul>

            <ul id="carrito">
                <h1>Carrito</h1>
                <li v-for="(actual, index) in carrito">
                    <h2>{{ actual.model }}</h2>
                    <p>{{actual.color}}</p>
                    <p>quantitat: {{actual.quantitat}}</p>
                    <p>Preu/u: {{actual.preu}}€</p>
    
                    <button @click="eliminar(actual)">-</button>
                </li>
            </ul>
    
        </div>

        
        <div v-if="divActivo == 'checkout'">
            <div id="checkout">
                <ul class="carrito">
                    <h2>Carrito</h2>
                    <li v-for="(actual, index) in carrito">
                        <h2 :id="index">{{ actual.model }}</h2>
                        <p>{{actual.color}}</p>
                        <p>Quantitat: {{actual.quantitat}}</p>
                        <p>Preu/u: {{actual.preu}}€</p>
                        <p>Preu: {{actual.preu*actual.quantitat}}€</p>
    
                    </li>
                    <button @click="completar">Completar compra</button>
                </ul>
                <p class="total">Total: {{this.total}} € </p>
    
            </div>
        </div>
        
    </div>

    <script src="js/functions.js" type="module"> </script>

</body>

</html>