body {
    font-family: Arial, sans-serif;
    background-color: #E3E7E8;
    max-width: 98vw;

}


.afegir,.eliminar{
    margin-bottom: 5vh;
    width: 50%;
}
header{
    display: grid;
    grid-template-columns: 1fr 40px;
    margin-top: 5vh;
    width: 94vw;
}
.closeShopping{
    position: absolute;
    top: 1vh;
    color: white;
    right: 1vw;
    font-size: 0.8cm;
}
header .shopping{
    position: fixed;
    right: 6vw;
    text-align: right;
}

header .shopping img{
    width: 40px;
}

header .shopping span{
    background-color: #54a6fd;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.cesta{
    position: fixed;
    top:0;
    right: -100%;
    width: 98vw;
    max-width: 500px;
    max-height: 100vh;
    background-color:  grey;;
    border: grey;
    transition: 0.5s;
    text-align: center;
    overflow: scroll;
}
.cesta::-webkit-scrollbar{
    display: none;
}
.cesta h1{
    color: #fff;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.cesta .item:last-child{
    margin-bottom: 10vh;
}
.cesta .checkOut{
    
    width: 100%;
    position: sticky;
    top: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 5vh;

    text-align: center;
}
.cesta .checkOut div{
    background-color: #54a6fd;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cesta .item{
    float: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #E3E7E8;
}
.cesta .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.cesta-active{
    right: 0;
}

#checkout .total{
    font-size: 1cm;
}
.checkout__lista{
    width: 60%;
}
.item__model{
    margin: 0;
}
.item__img{
margin-left: auto;
margin-right: auto;
width: 100%;
background-color: #007BFF;
}


button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.item{
    
    padding: 20px;
    letter-spacing: 1px;
    float: left;
    list-style: none;
    text-align: center;
    min-height: 300px;
    max-height: fit-content;
    width: 35vw;
    margin-left: 0;
    margin-right: 4vw;
    margin-bottom: 3vh;
    
}

#lista{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vh;
    margin-left: 0;
    width: 100vw;
}
#carrito{
    margin-top: 10%;
    width: 60%;

}

.hidden{
    display: none;
}


.portada {
    background: url("imagen/portada.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 50vh;
    height: 100vh;
}

.container-portada{
    width: 400px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0 10px 30px #000;
    margin: 200px auto;
    border: 1px solid #ffffff40;
    text-align: center;

}
.titol {
    font-size: 36px;
    margin: 0;
    text-align: center;
    justify-content: center;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-contenido {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }

  .checkout form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout label, .checkout input {
    margin: 10px 0;
}

.checkout input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

.checkout button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.checkout button:hover {
    background-color: #0056b3;
}
@media (max-width: 768px) {
    .productos-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .producto {
        width: calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .producto {
        width: 100%;
    }
}




