body {
    font-family: Arial, sans-serif;
    background-color: #E3E7E8;
}

.container-cesta{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;

}

header .shopping{
    position: relative;
    text-align: right;
}

header .shopping img{
    width: 40px;
}

header .shopping span{
    background-color: #54a6fd;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.cesta{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.cesta h1{
    color: #fff;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.cesta .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cesta .checkOut div{
    background-color: #54a6fd;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cesta .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.active .cesta{
    left: calc(100% - 500px);
}

.active .container-cesta{
    transform: translateX(0);
}
.container-cesta{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #0056b3;
}

li{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 20px 20px #757676;
    letter-spacing: 1px;
    float: left;
    margin: 5%;
    border: 1px solid;
    list-style: none;
    width: 300px;
    height: 200px;
    text-align: center;
}

#llista{
    width: 60%;
}
#carrito{
    margin-top: 10%;
    width: 60%;

}

.hidden{
    display: none;
}
#total{
    font-size: 1cm;
}