<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>


    <div id="app">

        <div v-if="divActivo == 'portada'">
            <div class="portada">
                <div class="container-portada">
                    <h1 class="titol">NAIKI</h1>
                    <button class="boton__portada" @click="cambiar('tienda')">Iniciar</button>
                </div>
            </div>
        </div>



        <div v-if="divActivo == 'tienda'">
            <header>
                <img src="imagen/NAIKI.png" class="imagen__logo">
                <nav>
                    <ul>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Home</a>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Done</a>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Nen/a</a>
                        </li>
                    </ul>
                </nav>
                <div @click="cesta()" class="shopping">
                    <img src="imagen/carrito.png">
                    <span class="cuantitat">{{this.nItems}}</span>
                </div>
            </header>

            <div class="cesta">
                <h1>Carrito</h1>
                <button class="closeShopping">X</button>
                <div class="cesta__checkOut checkOut">
                    <div class="total">{{this.total}} € </div>
                    <button id="btnCheckout" @click="cambiar('checkout')">Checkout</button>
                </div>
                <div class="cesta__item item" v-for="(actual, index) in carrito">
                    <img class="item__img" :src="actual.imatge" height="184" width="184" alt="">
                    <h6 class="item__model">{{ actual.model }}</h6>
                    <p class="item__color">{{actual.color}}</p>
                    <p class="item__quantitat">quantitat: {{actual.quantitat}}</p>
                    <p class="item__preu">Preu/u: {{actual.preu}}€</p>

                    <button class="eliminar" @click="eliminar(actual)">Treure</button>
                </div>


            </div>
            <div id="lista">
                <div class="llista__item item" v-for="(actual, index) in sabates">
                    <img class="item__img" :src="actual.imatge" height="184" width="184" alt="">
                    <h2 class="item__model">{{ actual.model }}</h2>
                    <p class="item__color">{{actual.color}}</p>
                    <p class="item__preu">Preu/u: {{actual.preu}}€</p>

                    <button @click="afegir(actual)" class="afegir">Afegir</button>
                </div>
            </div>


        </div>

        <div v-if="divActivo === 'checkout'" class="checkout-container checkout">
            <header>
                <img src="imagen/NAIKI.png" class="imagen__logo">
                <nav>
                    <ul>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Home</a>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Done</a>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Nen/a</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <h2 class="titol__check">Carretó</h2>
            <div v-if="carrito.length > 0" class="container__check"> 
                <div class="check">
                    <h3 class="titol__producte">Productes</h3>
                    <ul>
                        <div v-for="(actual, index) in carrito" :key="index" class="item__checkout">
                            <img class="item__img" :src="actual.imatge" height="184" width="184" alt="">
                            <div class="container__text">
                                <h2 class="text__model">{{ actual.model }}</h2>
                                <p class="text__color">{{actual.color}}</p>
                                <p class="text__quantitat">Quantitat: {{actual.quantitat}}</p>
                                <p class="text__preu">Preu/u: {{actual.preu}}€</p>
                                <button class="eliminar" @click="eliminar(actual)">Treure</button>
                            </div>
                        </div>
                    </ul>
                </div>     
                </div>
                <div id="checkout__buttons">
                    <h6 id="checkout-total">Total: {{this.total}}€</h6>
    
                    <div class="container__buttons">
                        <button v-if="carrito.length > 0" @click="completar">Realizar Compra</button>
                        <button v-if="carrito.length > 0" @click="limpiarCesta">Limpiar cesta de compra</button>
                        <button @click="mostrarBotiga">Continuar Comprando</button>
                    </div>
            </div>
            
        </div>



        <!-- Página de Modal Login -->
        <div v-if="mostrarModalCorreo" class="modal">
            <div class="modal-contenido">
                <h2>Ingrese su correo</h2>
                <input type="text" v-model="correo" id="emailUser"> <!-- Campo de entrada para el correo -->
                <button @click="guardarCorreoYContinuar('compraConfirm')">Guardar</button>
            </div>
        </div>

        <div v-if="divActivo == 'compraConfirm'">
            <div id="compraConfirm">
                <div class="modal-contenido">
                    <h2>Compra Ralizada corretamente</h2>
                    <button @click="cambiar('tienda')">Continuar Comprando</button>
                </div>
            </div>
        </div>


    </div>

    <script src="js/functions.js" type="module"> </script>

</body>

</html>