<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>


    <div id="app">

        <div v-if="divActivo == 'portada'">
            <div class="portada">
                <div class="container-portada">
                    <h1 class="portada__title">Bienvenido a NAIKI</h1>
                    <p class="portada__subtitle">Tu Destino Deportivo</p>
                    <div class="info-box">
                        <h2 class="info-title">Horario de la Tienda</h2>
                        <p class="info-text">Lunes a Viernes: 9:00 AM - 7:00 PM</p>
                        <p class="info-text">Sábados: 10:00 AM - 4:00 PM</p>
                    </div>
                    <div class="cta-button-container">
                        <button class="boton__portada" @click="cambiar('tienda')">¡COMPRA JA!</button>
                    </div>
                </div>
            </div>
        </div>



        <div v-if="divActivo == 'tienda'">
            <header>
                <img src="imagen/NAIKI.png" class="imagen__logo">
                <nav>
                    <ul>
                        <li class="sub-menu-parent" tab-index="0">
                            <button @click="filtre($event,'Hombre')">Home</button>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <button @click="filtre($event,'Mujer')">Dona</button>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <button @click="filtre($event,'Nen/a')">Nen/a</button>
                        </li>
                    </ul>
                </nav>

                <div @click="btnUsuario()" class="usuario">
                    <img src="imagen/usuario.png">

                </div>

                <div @click="cesta()" class="shopping">
                    <img src="imagen/carrito.png">
                    <span class="cuantitat">{{this.nItems}}</span>
                </div>
            </header>
            <div class="menuUsuari">
                <button>Veure comandas</button>
                <button @click="logout()">Logout</button>

            </div>
            <div class="cesta">
                <h1>Carrito</h1>
                <button class="closeShopping">X</button>
                <div class="cesta__checkOut checkOut">
                    <div class="total">{{this.total}} € </div>
                    <button id="btnCheckout" @click="cambiar('checkout')">Checkout</button>
                </div>
                <div :class="'cesta__item item'" v-for="(actual, index) in carrito">
                    <img class="item__img img__cesta" :src="actual.imatge" height="184" width="184" alt="">
                    <div class="cesta__text">
                        <h3 class="item__model">{{ actual.model }}</h3>
                        <p class="item__color">{{actual.color}}</p>
                        <p class="item__quantitat">Quantitat: {{actual.quantitat}}</p>
                        <p class="item__preu">Preu/u: {{actual.preu}}€</p>
                        <button class="eliminar" @click="eliminar(actual)">Treure</button>
                    </div>

                    
                </div>
            </div>
            <div id="lista">
                <div :class="['llista__item item', { 'transicion': aplicarTransicion }]" v-for="(actual, index) in sabatesMostrar">
                    <img class="item__img img__lista" :src="actual.imatge" height="184" width="184" alt="">
                    <h2 class="item__model">{{ actual.model }}</h2>
                    <p class="item__color">{{actual.color}}</p>
                    <p class="item__preu">Preu/u: {{actual.preu}}€</p>

                    <button @click="afegir(actual)" class="afegir">Afegir</button>
                </div>
            </div>
            <footer>
                <div class="container__img">
                    <a href="https://www.youtube.com/watch?v=8Pc0AEbfnBM&ab_channel=Marbler"><img
                            src="imagen/instagram.png" alt="" class="logo__img"></a>
                    <a href="https://www.youtube.com/watch?v=IxQhfoRwSGU"><img src="imagen/youtube.png" alt=""
                            class="logo__img"></a>
                    <a href="https://www.youtube.com/watch?v=_YjKboT4I40"><img src="imagen/facebook.png" alt=""
                            class="logo__img"></a>
                    <a href="https://www.youtube.com/watch?v=Kyl01V1EWC8"><img src="imagen/gorjeo.png" alt=""
                            class="logo__img"></a>
                </div>
            </footer>
        </div>

        <div v-if="divActivo == 'mostrarInicioSesion'" class="formulario-container">
            <div class="formulario inicio-sesion formLogin">
                <h3 class="error hidden" id="errorLogin">Contrasenya o email incorrecte</h3>
                <h2>Iniciar Sesión</h2>
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" v-model="register.email" required>
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasenaLogin" v-model="register.password" required>
                    <button type="submit" @click="login()">Iniciar Sesión</button>
                <button class="volver-comprar" @click="cambiar('tienda')">Volver al comprar</button>
                <button @click="cambiar('RegistroUsuario')">Registrarse</button>
            </div>
        </div>
        
        <div v-if="divActivo == 'RegistroUsuario'" class="formulario-container">
            <div class="formulario registro-usuario" id="formRegister">
                <h2 class='error hidden' id="errorContrasenya">Les constrasenyes no coïncideixen</h2>
                <h2 class='error hidden' id="errorEmail">Email ja esta en ús</h2>

                <h2>Registrarse</h2>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nom" required v-model="register.nom">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="cognoms" required  v-model="register.cognoms">
                    <label for="correo">Correo Electrónico:</label>
                    <input type="email" id="correo" name="email" required  v-model="register.email" >
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefon" required  v-model="register.telefon">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="password" required  v-model="register.password"> 
                    <label for="contrasena">Confirmación de contraseña:</label>
                    <input type="password" id="contrasena" name="password_confirmation" required  v-model="register.password_confirmation">
                    <button @click="registrar()">Registrarse</button>
                <button @click="cambiar('mostrarInicioSesion')">Iniciar sesion</button>
                <button class="volver-comprar" @click="cambiar('tienda')">Volver al comprar</button>
            </div>
        </div>



        <div v-if="divActivo == 'checkout'">
            <header>
                <img src="imagen/NAIKI.png" class="imagen__logo">
                <nav>
                    <ul>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Home</a>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Done</a>
                        </li>
                        <li class="sub-menu-parent" tab-index="0">
                            <a href="#">Nen/a</a>
                        </li>
                    </ul>
                </nav>
            </header>

            <div v-if="divActivo == 'checkout'" class="checkout-container checkout">
                <div class="checkout__cesta" v-if="carrito.length > 0">
                    <div class="container__preuTotal">
                        <p id="checkout-total">Total del Carrito: ${{this.total}}</p>
                        <button v-if="carrito.length > 0" @click="completar" class="finalizarCompra">Realizar Compra</button>
                    </div>
                    <h2>Cesta de la compra</h2>
                    <div class="checkout__llista">
                       
                        <div class="checkout__item" v-for="(actual, index) in carrito">
                            <img class="item__img" :src="actual.imatge" height="184" width="184" alt="">
                            <div class="cesta__item">
                                <div class="cesta__text">
                                    <h3 class="item__model">{{ actual.model }}</h3>
                                    <p class="item__color">{{actual.color}}</p>
                                    <p class="item__quantitat">Quantitat: {{actual.quantitat}}</p>
                                    <p class="item__preu">Preu/u: {{actual.preu}}€</p>

                                <button class="eliminar" @click="eliminar(actual)">Treure</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container__buttons">                      
                        <button v-if="carrito.length > 0" @click="limpiarCesta" class="checkout__buttons">Limpiar cesta de compra</button>
                        <button @click="mostrarBotiga" class="checkout__buttons">Continuar Comprando</button>
                    </div>
                </div>
                <div class="checkout__cesta" v-if="carrito.length == 0">
                    <h2>Cesta de la compra</h2>
                    <div class="checkout__llista">
                        <h3>Cesta vacia</h3>
                    </div>
                    <div id="checkout-buttons">
                        <p id="checkout-total">Total del Carrito: ${{this.total}}</p>

                        <button @click="mostrarBotiga">Continuar Comprando</button>
                    </div>
                </div>


                <footer class="checkout__footer">
                    <div class="container__img">
                        <a href="https://www.youtube.com/watch?v=8Pc0AEbfnBM&ab_channel=Marbler"><img
                                src="imagen/instagram.png" alt="" class="logo__img"></a>
                        <a href="https://www.youtube.com/watch?v=IxQhfoRwSGU"><img src="imagen/youtube.png" alt=""
                                class="logo__img"></a>
                        <a href="https://www.youtube.com/watch?v=_YjKboT4I40"><img src="imagen/facebook.png" alt=""
                                class="logo__img"></a>
                        <a href="https://www.youtube.com/watch?v=Kyl01V1EWC8"><img src="imagen/gorjeo.png" alt=""
                                class="logo__img"></a>
                    </div>
                </footer>
            </div>

        </div>



        <!-- Página de Modal Login -->
        <div v-if="mostrarModalCorreo" class="modal checkout__modal">
            <div class="modal-contenido">
                <button class="tencarCheckout" @click="tencarCheckout">X</button>

                <h2>Ingrese su correo</h2>
                <input type="text" v-model="correo" id="emailUser"> <!-- Campo de entrada para el correo -->
                <button @click="guardarCorreoYContinuar('compraConfirm')">Guardar</button>
                <h3 class="hidden">Mail invalid</h3>
            </div>
        </div>

        <div v-if="divActivo == 'compraConfirm'">
            <div id="compraConfirm">
                <div class="modal-contenido">
                    <h2>Compra Realizada corretamente</h2>
                    <h4>Datos del usuario: {{correo}}</h4>
                    <h3>Tiquet</h3>
                    <ul class="tiquet-list">
                        <li v-for="(actual, index) in ticket.carrito" :key="index" class="tiquet-item">
                            <p>{{actual.quantitat}}</p>
                            <p>{{actual.marca}} {{ actual.model }}</p>
                            <p>{{ actual.quantitat * actual.preu }} € </p>
                        </li>
                    </ul>
                    <p class="total">Total: {{this.ticket.total}} € </p>
                    <div>
                        <button class="boton__ticket" @click="cambiar('tienda')">Seguir comprando</button>
                        <button v-if="this.token!=null" class="boton__ticket" @click="">Estat de Producte</button>
                    </div>
                </div>
            </div>
            <footer class="footer__ticket">
                <div class="container__img">
                    <a href="https://www.youtube.com/watch?v=8Pc0AEbfnBM&ab_channel=Marbler"><img
                            src="imagen/instagram.png" alt="" class="logo__img"></a>
                    <a href="https://www.youtube.com/watch?v=IxQhfoRwSGU"><img src="imagen/youtube.png" alt=""
                            class="logo__img"></a>
                    <a href="https://www.youtube.com/watch?v=_YjKboT4I40"><img src="imagen/facebook.png" alt=""
                            class="logo__img"></a>
                    <a href="https://www.youtube.com/watch?v=Kyl01V1EWC8"><img src="imagen/gorjeo.png" alt=""
                            class="logo__img"></a>
                </div>
            </footer>
        </div>


    </div>

    <script src="js/functions.js" type="module"> </script>

</body>

</html>