:root{
    --bgHeaderFooter:  rgba(0, 0, 0, 0.6);
    --bgButton:#007BFF;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #eff6f7;
    max-width: 100%;
    max-height: 98vh;
}

.paginacio {
    position: absolute;
   text-align: center;
   margin-top: 191vw;
   margin-left: 20vw;

  }
  
  .paginacio button {
    background-color: var(--bgButton); 
    color: #fff; 
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: inline-block; 
  }
  
  .paginacio button:disabled {
    background-color: #a9a9a9; 
    cursor: not-allowed;
  }
  .button-container {
    display: flex;
    align-items: center;
}

.afegir,.eliminar{
    margin-bottom: 5vh;
    width: 100%;
    border-radius: 6px;
    padding: 6px;
    margin: 2px;
}
nav button{
    background-color:transparent;
    margin: 2vw;
    padding: 6px;
}
header{
    background-color: var(--bgHeaderFooter);
    padding: 5%;
    width: 91vw;
    border-radius: 0 0 45px 12px;
    position: fixed;
    text-align: right;
    top: 0;
    z-index: 1;
}
.tencarModal{
    float: right;
    padding: 3%;
    border-radius: 4px;
    margin: 8px;
}
.modal_mostrarSabata{
    width: 50%;
}
.error{
    color:red;
}
footer{
    position: absolute;
    background-color: var(--bgHeaderFooter);
    margin-bottom: -48vw;
    margin-top: 208vw;
  
}
.container__img{
    margin-left: -4vw;
    vertical-align: middle;
    padding: 5vw;
    width: 95vw;
    display: flex;
    place-content: center;
    position: static;

}
.logo__img{
    height: 40px;
    margin: 2px;
}
.closeShopping{
    position: absolute;
    top: 1vh;
    color: white;
    right: 0vw;
    font-size: 0.8cm;
    padding: 6px;
    margin: 2vw;
    border-radius: 9px;
}
header .shopping{
    position: fixed;
    text-align: right;
    top: 1%;
    right: 7%;
}

header .usuario{
    position: fixed;
    right: 17%;
    text-align: right;
    top: 1%;
}
header .shopping img{
    width: 35px;
}

header .shopping span{
    background-color: #54a6fd;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.cesta{
    position: fixed;
    top:0;
    right: -100%;
    width: 94vw;
    max-width: 500px;
    max-height: 100vh;
    background-color:  grey;
    border: grey;
    transition: 0.5s;
    text-align: center;
    overflow: scroll;
    z-index: 1;
}
.actiu{
    background-color: var(--bgButton);
}
.cesta::-webkit-scrollbar{
    display: none;
}
.cesta h1{
    color: #fff;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.cesta .item:last-child{
    margin-bottom: 10vh;
}
.cesta .checkOut{
    width: 100%;
    position: sticky;
    top: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 5vh;

    text-align: center;
}
.cesta .checkOut div{
    background-color: #54a6fd;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.cesta .item{
    float: none;
    display: flex;
    margin-right: auto;
    background-color: #E3E7E8;
    width: 35vh;
    margin: 2%;
}
.cesta__text{
    margin: auto;
    width: 30vw;
}
.cesta .checkOut div:nth-child(2){
    background-color: var(--bgHeaderFooter);
    color: #fff;
}
.cesta-active{
    right: 2px;
}

#checkout .total{
    font-size: 1cm;
}

.boton__ticket{
    padding: 2%;
    margin: 4px;
}
.item__model{
    margin: 0;
}
.item__img{
border-radius: 3px;
}


button {
    background-color: var(--bgButton);
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.transicion:hover{
    transition: 0.5s;
    transform:scale(1.1,1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
.item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease; /* Agregar una transición para suavizar el cambio */
    outline: none; /* Elimina el borde predeterminado */
    background-color: lightsteelblue;
    padding: 18px;
    float: left;
    text-align: center;
    width: 32vw;
    border-radius: 5px;
    margin-left: 6px;
}

#llista .item{
    transition: 1s;
}

#lista{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2vh;
    margin-left: 6%;
    width: 89vw;
    margin-top: 13vh;
    margin-bottom: 2vh;
}

#carrito{
    margin-top: 10%;
    width: 60%;

}

.hidden{
    display: none;
}


.portada {
    background: url('https://www.tapasmagazine.es/wp-content/uploads/2023/05/fotonoticia_20230525102017_9999-1200x800.jpg');
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.container-portada{
    background-color: var(--bgHeaderFooter);
    backdrop-filter: blur(0.4rem);
    max-width: 84%;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    margin: 200px auto;
    border: 1px solid #ffffff40;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
}
.portada__title {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    margin-top: 43px;
    font-variant: small-caps;
}

.portada__subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
}
.info-title {
    font-size: 1rem;
    color: #03a9f4;
}
.info-text {
    font-size: 1rem;
    color: #f0f0f0;
    margin-top: 10px;
}

.cta-button-container {
    margin-top: 20px;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-contenido {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    
  }

.checkout{
    display: grid;
}
.checkout form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout label, .checkout input {
    margin: 10px 0;
}

.checkout input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}
.container__buttons{
    position: absolute;
    display: flex;
    left: 7vw;
    top: 84vh;
}
#checkout-total{
    font-size: 0.8cm;
}

.checkout button:hover {
    background-color: #0056b3;
}
.checkout form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout label, .checkout input {
    margin: 10px 0;
}

.checkout input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

#checkout-buttons button{
    margin: 5px;
}

.checkout button:hover {
    background-color: #0056b3;
}
nav{
    position: relative;
    margin: 0;
    top: 4vw;
    left: -1vw;
}
.sub-menu-parent { position: static; }


.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
}

/* presentational */
nav a { color: #d7e9eb; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #54a6fd; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { text-align: center; }
nav > ul > li { display: inline-block;  }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
  background: #DDD;
}

.boton__portada{
    background: #03a9f4;
    padding: 10px 20px;
    border-radius: 5px
}
.boton__portada:hover {
    background-color: #0288d1;
    transform: scale(1.1);
}
.imagen__logo{
    height: 9vw;
    position: absolute;
    top: 2vw;
}


.img__lista{
    height: 41vw;
    width: 90%;
}



.titol__check{
    position: relative;
    margin-inline: -25vh;
    top: 58%;
}
.titol__producte{
    margin-left: 4%
}
.container__check{
    background: #757676;
    border-radius: 5px;
    margin: 0;
    width: 33vh;
}
.checkout__cesta{

    text-align: center;
    margin-bottom: -21%;
}
.checkout__buttons{
    position: static;
    padding: 4%;
    border-radius: 5px;
    margin: 4px;
}
.item__checkout{
    background-color: lightsteelblue;
    padding: 20px;
    text-align: center;
    width: 35vw;
    border-radius: 5px;
    position: relative;
    margin-right: 3vh;
    height: 40vh;
    right: 8px;
}
.text__model{
    margin: 0;
}

.text__color{
    margin: 2px;
}
.text__quantitat{
    margin: 4px;
}
.text__preu{
    margin: 4px;
}
.checkout-container{
    overflow: hidden;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.checkout__item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: lightsteelblue;
    padding: 20px;
    float: none;
    text-align: center;
    width: 80vw;
    border-radius: 5px;
    margin: 3%;
    display: flex;

}
.checkout__llista{
    height: 54vh;
    width: 100%;
    max-height: 80vh;
    overflow: scroll;
    text-align: center;
    margin-bottom:11vh;
    margin-left: 2vw;
}
.checkout__llista::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}
/* Estilos para el formulario container */
.formulario-container {
    background-image: url('https://www.tapasmagazine.es/wp-content/uploads/2023/05/fotonoticia_20230525102017_9999-1200x800.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* Estilos para los formularios */
.formulario {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.formulario h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario input {
    width: 100%;
    padding-top: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    width: 100%;
    background-color: var(--bgButton);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.formulario.inicio-sesion {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 300px;
}
.formulario.registro-usuario {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 300px;
}
.item__descripcio{
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.formulario.inicio-sesion .volver-comprar {
    background-color: var(--bgButton);
    color: #fff;
    border: 1px solid var(--bgButton);
    transition: background-color 0.3s; 
}
.formulario.inicio-sesion .volver-comprar:hover {
    background-color: #4CAF50;
    color: #fff;
}
.formulario.registro-usuario .volver-comprar {
    background-color: var(--bgButton);
    color: #fff;
    border: 1px solid var(--bgButton);
    transition: background-color 0.3s; 
}
.formulario.registro-usuario .volver-comprar:hover {
    background-color: #4CAF50;
    color: #fff;
}
.imagen-usuario {
    width: 40px; /* Ajusta el tamaño de la imagen de usuario */
  }


.btnCheckout{
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.guardarConfirmar{
    margin: 1vw;
    padding: 3px;
    border-radius: 5px;
}
.guardarTicket{
    margin: 2%;
    padding: 7px;
    border-radius: 4px;
}
.container__preuTotal{
    margin: 2%;
    text-align: center;
    display: block;
    margin-top: 10vw;
}

.cesta__item{
    margin: auto;
}
.finalizarCompra{
    width: 100%;
    padding: 3%;
    border-radius: 4px;
}

.menuUsuari{
    position: fixed;
    float: right;
    left: 65vw;
    width: 32vw;
    top: -20vh;
    text-align: center;
    background-color: var(--bgHeaderFooter)
}
.menuUsuariActiu{
    top: 5vh;
    padding: 4%;
    z-index: 1;
    right: auto;
    left: 23vh;
    border-radius: 5px;
}
.menuUsuari button{
    width: 90%;
    margin: 4px;
    padding: 4px;
    border-radius: 4px;

}

.return{
    position: absolute;
    top: 0vw;
    left: 1vw;
}

.tiquet-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
 
  .tiquet-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
  }

  .total {
    margin-top: 0;
    font-weight: bold;
  }

  .container__ImagenTicket{
    margin:3%;
  }

  .imagenTicket{
    height: 10vh;
    width: 64vw;
  }
#compraConfirm{
    position: static;
    height: 90vh;    

}

.container__ticket{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 34vw;
    left: 5vw;
}

.comandaUsari{
    background: white;
    position: absolute;
    top: 34vw;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 88vw;
    left: 1vw;
}

.item__comandaUsuari{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

.container__comandaUsuari{
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.botonComandaUsuari{
    border-radius: 5px;
    padding: 4px;
    
}

.modalComanda{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: scroll;
}